<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.yuanmomo.searchrescue.web.mapper.IdInfoMapper" >
  <resultMap id="BaseResultMap" type="net.yuanmomo.searchrescue.web.bean.IdInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_Info_ID" property="userInfoId" jdbcType="BIGINT" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="nation" property="nation" jdbcType="CHAR" />
    <result column="nation_ID" property="nationId" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="CHAR" />
    <result column="cer_No" property="cerNo" jdbcType="CHAR" />
    <result column="authority" property="authority" jdbcType="VARCHAR" />
    <result column="effec_ Duration" property="effecDuration" jdbcType="TIMESTAMP" />
    <result column="start_Time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_Time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="photo_Path" property="photoPath" jdbcType="VARCHAR" />
    <result column="register_Time" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="register_IP" property="registerIp" jdbcType="CHAR" />
    <result column="last_Login_IP" property="lastLoginIp" jdbcType="CHAR" />
    <result column="last_Login_Time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="is_Deleted" property="isDeleted" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="net.yuanmomo.searchrescue.web.bean.IdInfo" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_Info_ID, sex, nation, nation_ID, birthday, address, phone, cer_No, authority, 
    "effec_ Duration", start_Time, end_Time, photo, photo_Path, register_Time, register_IP, 
    last_Login_IP, last_Login_Time, version, is_Deleted
  </sql>
  <sql id="Blob_Column_List" >
    remark
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="net.yuanmomo.searchrescue.web.bean.IdInfoCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from idinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.yuanmomo.searchrescue.web.bean.IdInfoCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from idinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
      <if test="limitStartAndEnd != null" >
        limit ${limitStartAndEnd}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from idinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from idinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="net.yuanmomo.searchrescue.web.bean.IdInfoCriteria" >
    delete from idinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.yuanmomo.searchrescue.web.bean.IdInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into idinfo (user_Info_ID, sex, nation, 
      nation_ID, birthday, address, 
      phone, cer_No, authority, 
      "effec_ Duration", start_Time, end_Time, 
      photo, photo_Path, register_Time, 
      register_IP, last_Login_IP, last_Login_Time, 
      version, is_Deleted, remark
      )
    values (#{userInfoId,jdbcType=BIGINT}, #{sex,jdbcType=TINYINT}, #{nation,jdbcType=CHAR}, 
      #{nationId,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, #{address,jdbcType=VARCHAR}, 
      #{phone,jdbcType=CHAR}, #{cerNo,jdbcType=CHAR}, #{authority,jdbcType=VARCHAR}, 
      #{effecDuration,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{photo,jdbcType=VARCHAR}, #{photoPath,jdbcType=VARCHAR}, #{registerTime,jdbcType=TIMESTAMP}, 
      #{registerIp,jdbcType=CHAR}, #{lastLoginIp,jdbcType=CHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=BIGINT}, #{isDeleted,jdbcType=TINYINT}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.yuanmomo.searchrescue.web.bean.IdInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into idinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userInfoId != null" >
        user_Info_ID,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="nationId != null" >
        nation_ID,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="cerNo != null" >
        cer_No,
      </if>
      <if test="authority != null" >
        authority,
      </if>
      <if test="effecDuration != null" >
        "effec_ Duration",
      </if>
      <if test="startTime != null" >
        start_Time,
      </if>
      <if test="endTime != null" >
        end_Time,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="photoPath != null" >
        photo_Path,
      </if>
      <if test="registerTime != null" >
        register_Time,
      </if>
      <if test="registerIp != null" >
        register_IP,
      </if>
      <if test="lastLoginIp != null" >
        last_Login_IP,
      </if>
      <if test="lastLoginTime != null" >
        last_Login_Time,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="isDeleted != null" >
        is_Deleted,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userInfoId != null" >
        #{userInfoId,jdbcType=BIGINT},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=CHAR},
      </if>
      <if test="nationId != null" >
        #{nationId,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=CHAR},
      </if>
      <if test="cerNo != null" >
        #{cerNo,jdbcType=CHAR},
      </if>
      <if test="authority != null" >
        #{authority,jdbcType=VARCHAR},
      </if>
      <if test="effecDuration != null" >
        #{effecDuration,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="photoPath != null" >
        #{photoPath,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null" >
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerIp != null" >
        #{registerIp,jdbcType=CHAR},
      </if>
      <if test="lastLoginIp != null" >
        #{lastLoginIp,jdbcType=CHAR},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.yuanmomo.searchrescue.web.bean.IdInfoCriteria" resultType="java.lang.Integer" >
    select count(*) from idinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update idinfo
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userInfoId != null" >
        user_Info_ID = #{record.userInfoId,jdbcType=BIGINT},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=TINYINT},
      </if>
      <if test="record.nation != null" >
        nation = #{record.nation,jdbcType=CHAR},
      </if>
      <if test="record.nationId != null" >
        nation_ID = #{record.nationId,jdbcType=INTEGER},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=CHAR},
      </if>
      <if test="record.cerNo != null" >
        cer_No = #{record.cerNo,jdbcType=CHAR},
      </if>
      <if test="record.authority != null" >
        authority = #{record.authority,jdbcType=VARCHAR},
      </if>
      <if test="record.effecDuration != null" >
        "effec_ Duration" = #{record.effecDuration,jdbcType=TIMESTAMP},
      </if>
      <if test="record.startTime != null" >
        start_Time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_Time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.photo != null" >
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.photoPath != null" >
        photo_Path = #{record.photoPath,jdbcType=VARCHAR},
      </if>
      <if test="record.registerTime != null" >
        register_Time = #{record.registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.registerIp != null" >
        register_IP = #{record.registerIp,jdbcType=CHAR},
      </if>
      <if test="record.lastLoginIp != null" >
        last_Login_IP = #{record.lastLoginIp,jdbcType=CHAR},
      </if>
      <if test="record.lastLoginTime != null" >
        last_Login_Time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=BIGINT},
      </if>
      <if test="record.isDeleted != null" >
        is_Deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update idinfo
    set id = #{record.id,jdbcType=BIGINT},
      user_Info_ID = #{record.userInfoId,jdbcType=BIGINT},
      sex = #{record.sex,jdbcType=TINYINT},
      nation = #{record.nation,jdbcType=CHAR},
      nation_ID = #{record.nationId,jdbcType=INTEGER},
      birthday = #{record.birthday,jdbcType=DATE},
      address = #{record.address,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=CHAR},
      cer_No = #{record.cerNo,jdbcType=CHAR},
      authority = #{record.authority,jdbcType=VARCHAR},
      "effec_ Duration" = #{record.effecDuration,jdbcType=TIMESTAMP},
      start_Time = #{record.startTime,jdbcType=TIMESTAMP},
      end_Time = #{record.endTime,jdbcType=TIMESTAMP},
      photo = #{record.photo,jdbcType=VARCHAR},
      photo_Path = #{record.photoPath,jdbcType=VARCHAR},
      register_Time = #{record.registerTime,jdbcType=TIMESTAMP},
      register_IP = #{record.registerIp,jdbcType=CHAR},
      last_Login_IP = #{record.lastLoginIp,jdbcType=CHAR},
      last_Login_Time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=BIGINT},
      is_Deleted = #{record.isDeleted,jdbcType=TINYINT},
      remark = #{record.remark,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update idinfo
    set id = #{record.id,jdbcType=BIGINT},
      user_Info_ID = #{record.userInfoId,jdbcType=BIGINT},
      sex = #{record.sex,jdbcType=TINYINT},
      nation = #{record.nation,jdbcType=CHAR},
      nation_ID = #{record.nationId,jdbcType=INTEGER},
      birthday = #{record.birthday,jdbcType=DATE},
      address = #{record.address,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=CHAR},
      cer_No = #{record.cerNo,jdbcType=CHAR},
      authority = #{record.authority,jdbcType=VARCHAR},
      "effec_ Duration" = #{record.effecDuration,jdbcType=TIMESTAMP},
      start_Time = #{record.startTime,jdbcType=TIMESTAMP},
      end_Time = #{record.endTime,jdbcType=TIMESTAMP},
      photo = #{record.photo,jdbcType=VARCHAR},
      photo_Path = #{record.photoPath,jdbcType=VARCHAR},
      register_Time = #{record.registerTime,jdbcType=TIMESTAMP},
      register_IP = #{record.registerIp,jdbcType=CHAR},
      last_Login_IP = #{record.lastLoginIp,jdbcType=CHAR},
      last_Login_Time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=BIGINT},
      is_Deleted = #{record.isDeleted,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.yuanmomo.searchrescue.web.bean.IdInfo" >
    update idinfo
    <set >
      <if test="userInfoId != null" >
        user_Info_ID = #{userInfoId,jdbcType=BIGINT},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=CHAR},
      </if>
      <if test="nationId != null" >
        nation_ID = #{nationId,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="cerNo != null" >
        cer_No = #{cerNo,jdbcType=CHAR},
      </if>
      <if test="authority != null" >
        authority = #{authority,jdbcType=VARCHAR},
      </if>
      <if test="effecDuration != null" >
        "effec_ Duration" = #{effecDuration,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_Time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_Time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="photoPath != null" >
        photo_Path = #{photoPath,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null" >
        register_Time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerIp != null" >
        register_IP = #{registerIp,jdbcType=CHAR},
      </if>
      <if test="lastLoginIp != null" >
        last_Login_IP = #{lastLoginIp,jdbcType=CHAR},
      </if>
      <if test="lastLoginTime != null" >
        last_Login_Time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        is_Deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="net.yuanmomo.searchrescue.web.bean.IdInfo" >
    update idinfo
    set user_Info_ID = #{userInfoId,jdbcType=BIGINT},
      sex = #{sex,jdbcType=TINYINT},
      nation = #{nation,jdbcType=CHAR},
      nation_ID = #{nationId,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      cer_No = #{cerNo,jdbcType=CHAR},
      authority = #{authority,jdbcType=VARCHAR},
      "effec_ Duration" = #{effecDuration,jdbcType=TIMESTAMP},
      start_Time = #{startTime,jdbcType=TIMESTAMP},
      end_Time = #{endTime,jdbcType=TIMESTAMP},
      photo = #{photo,jdbcType=VARCHAR},
      photo_Path = #{photoPath,jdbcType=VARCHAR},
      register_Time = #{registerTime,jdbcType=TIMESTAMP},
      register_IP = #{registerIp,jdbcType=CHAR},
      last_Login_IP = #{lastLoginIp,jdbcType=CHAR},
      last_Login_Time = #{lastLoginTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      is_Deleted = #{isDeleted,jdbcType=TINYINT},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.yuanmomo.searchrescue.web.bean.IdInfo" >
    update idinfo
    set user_Info_ID = #{userInfoId,jdbcType=BIGINT},
      sex = #{sex,jdbcType=TINYINT},
      nation = #{nation,jdbcType=CHAR},
      nation_ID = #{nationId,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      cer_No = #{cerNo,jdbcType=CHAR},
      authority = #{authority,jdbcType=VARCHAR},
      "effec_ Duration" = #{effecDuration,jdbcType=TIMESTAMP},
      start_Time = #{startTime,jdbcType=TIMESTAMP},
      end_Time = #{endTime,jdbcType=TIMESTAMP},
      photo = #{photo,jdbcType=VARCHAR},
      photo_Path = #{photoPath,jdbcType=VARCHAR},
      register_Time = #{registerTime,jdbcType=TIMESTAMP},
      register_IP = #{registerIp,jdbcType=CHAR},
      last_Login_IP = #{lastLoginIp,jdbcType=CHAR},
      last_Login_Time = #{lastLoginTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      is_Deleted = #{isDeleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>