<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.yuanmomo.searchrescue.web.mapper.PassportInfoMapper" >
  <resultMap id="BaseResultMap" type="net.yuanmomo.searchrescue.web.bean.PassportInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userInfo_ID" property="userinfoId" jdbcType="BIGINT" />
    <result column="authority" property="authority" jdbcType="VARCHAR" />
    <result column="authority_ID" property="authorityId" jdbcType="INTEGER" />
    <result column="passport_No" property="passportNo" jdbcType="CHAR" />
    <result column="nationality" property="nationality" jdbcType="VARCHAR" />
    <result column="nation_ID" property="nationId" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="CHAR" />
    <result column="issue_Date" property="issueDate" jdbcType="TIMESTAMP" />
    <result column="effec_ Duration" property="effecDuration" jdbcType="TIMESTAMP" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="INTEGER" />
    <result column="photo_Path" property="photoPath" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="INTEGER" />
    <result column="register_IP" property="registerIp" jdbcType="VARCHAR" />
    <result column="register_Time" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="last_Login_IP" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="last_Login_Time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="is_Deleted" property="isDeleted" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userInfo_ID, authority, authority_ID, passport_No, nationality, nation_ID, birthday, 
    sex, address, phone, issue_Date, "effec_ Duration", signature, photo, photo_Path, 
    remark, register_IP, register_Time, last_Login_IP, last_Login_Time, version, is_Deleted
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.yuanmomo.searchrescue.web.bean.PassportInfoCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from passportinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
      <if test="limitStartAndEnd != null" >
        limit ${limitStartAndEnd}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from passportinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from passportinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="net.yuanmomo.searchrescue.web.bean.PassportInfoCriteria" >
    delete from passportinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.yuanmomo.searchrescue.web.bean.PassportInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into passportinfo (userInfo_ID, authority, authority_ID, 
      passport_No, nationality, nation_ID, 
      birthday, sex, address, 
      phone, issue_Date, "effec_ Duration", 
      signature, photo, photo_Path, 
      remark, register_IP, register_Time, 
      last_Login_IP, last_Login_Time, version, 
      is_Deleted)
    values (#{userinfoId,jdbcType=BIGINT}, #{authority,jdbcType=VARCHAR}, #{authorityId,jdbcType=INTEGER}, 
      #{passportNo,jdbcType=CHAR}, #{nationality,jdbcType=VARCHAR}, #{nationId,jdbcType=INTEGER}, 
      #{birthday,jdbcType=TIMESTAMP}, #{sex,jdbcType=TINYINT}, #{address,jdbcType=VARCHAR}, 
      #{phone,jdbcType=CHAR}, #{issueDate,jdbcType=TIMESTAMP}, #{effecDuration,jdbcType=TIMESTAMP}, 
      #{signature,jdbcType=VARCHAR}, #{photo,jdbcType=INTEGER}, #{photoPath,jdbcType=INTEGER}, 
      #{remark,jdbcType=INTEGER}, #{registerIp,jdbcType=VARCHAR}, #{registerTime,jdbcType=TIMESTAMP}, 
      #{lastLoginIp,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{version,jdbcType=BIGINT}, 
      #{isDeleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="net.yuanmomo.searchrescue.web.bean.PassportInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into passportinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userinfoId != null" >
        userInfo_ID,
      </if>
      <if test="authority != null" >
        authority,
      </if>
      <if test="authorityId != null" >
        authority_ID,
      </if>
      <if test="passportNo != null" >
        passport_No,
      </if>
      <if test="nationality != null" >
        nationality,
      </if>
      <if test="nationId != null" >
        nation_ID,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="issueDate != null" >
        issue_Date,
      </if>
      <if test="effecDuration != null" >
        "effec_ Duration",
      </if>
      <if test="signature != null" >
        signature,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="photoPath != null" >
        photo_Path,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="registerIp != null" >
        register_IP,
      </if>
      <if test="registerTime != null" >
        register_Time,
      </if>
      <if test="lastLoginIp != null" >
        last_Login_IP,
      </if>
      <if test="lastLoginTime != null" >
        last_Login_Time,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="isDeleted != null" >
        is_Deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userinfoId != null" >
        #{userinfoId,jdbcType=BIGINT},
      </if>
      <if test="authority != null" >
        #{authority,jdbcType=VARCHAR},
      </if>
      <if test="authorityId != null" >
        #{authorityId,jdbcType=INTEGER},
      </if>
      <if test="passportNo != null" >
        #{passportNo,jdbcType=CHAR},
      </if>
      <if test="nationality != null" >
        #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="nationId != null" >
        #{nationId,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=CHAR},
      </if>
      <if test="issueDate != null" >
        #{issueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="effecDuration != null" >
        #{effecDuration,jdbcType=TIMESTAMP},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=INTEGER},
      </if>
      <if test="photoPath != null" >
        #{photoPath,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=INTEGER},
      </if>
      <if test="registerIp != null" >
        #{registerIp,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null" >
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.yuanmomo.searchrescue.web.bean.PassportInfoCriteria" resultType="java.lang.Integer" >
    select count(*) from passportinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update passportinfo
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userinfoId != null" >
        userInfo_ID = #{record.userinfoId,jdbcType=BIGINT},
      </if>
      <if test="record.authority != null" >
        authority = #{record.authority,jdbcType=VARCHAR},
      </if>
      <if test="record.authorityId != null" >
        authority_ID = #{record.authorityId,jdbcType=INTEGER},
      </if>
      <if test="record.passportNo != null" >
        passport_No = #{record.passportNo,jdbcType=CHAR},
      </if>
      <if test="record.nationality != null" >
        nationality = #{record.nationality,jdbcType=VARCHAR},
      </if>
      <if test="record.nationId != null" >
        nation_ID = #{record.nationId,jdbcType=INTEGER},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=TINYINT},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=CHAR},
      </if>
      <if test="record.issueDate != null" >
        issue_Date = #{record.issueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.effecDuration != null" >
        "effec_ Duration" = #{record.effecDuration,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signature != null" >
        signature = #{record.signature,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null" >
        photo = #{record.photo,jdbcType=INTEGER},
      </if>
      <if test="record.photoPath != null" >
        photo_Path = #{record.photoPath,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=INTEGER},
      </if>
      <if test="record.registerIp != null" >
        register_IP = #{record.registerIp,jdbcType=VARCHAR},
      </if>
      <if test="record.registerTime != null" >
        register_Time = #{record.registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastLoginIp != null" >
        last_Login_IP = #{record.lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="record.lastLoginTime != null" >
        last_Login_Time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=BIGINT},
      </if>
      <if test="record.isDeleted != null" >
        is_Deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update passportinfo
    set id = #{record.id,jdbcType=BIGINT},
      userInfo_ID = #{record.userinfoId,jdbcType=BIGINT},
      authority = #{record.authority,jdbcType=VARCHAR},
      authority_ID = #{record.authorityId,jdbcType=INTEGER},
      passport_No = #{record.passportNo,jdbcType=CHAR},
      nationality = #{record.nationality,jdbcType=VARCHAR},
      nation_ID = #{record.nationId,jdbcType=INTEGER},
      birthday = #{record.birthday,jdbcType=TIMESTAMP},
      sex = #{record.sex,jdbcType=TINYINT},
      address = #{record.address,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=CHAR},
      issue_Date = #{record.issueDate,jdbcType=TIMESTAMP},
      "effec_ Duration" = #{record.effecDuration,jdbcType=TIMESTAMP},
      signature = #{record.signature,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=INTEGER},
      photo_Path = #{record.photoPath,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=INTEGER},
      register_IP = #{record.registerIp,jdbcType=VARCHAR},
      register_Time = #{record.registerTime,jdbcType=TIMESTAMP},
      last_Login_IP = #{record.lastLoginIp,jdbcType=VARCHAR},
      last_Login_Time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=BIGINT},
      is_Deleted = #{record.isDeleted,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.yuanmomo.searchrescue.web.bean.PassportInfo" >
    update passportinfo
    <set >
      <if test="userinfoId != null" >
        userInfo_ID = #{userinfoId,jdbcType=BIGINT},
      </if>
      <if test="authority != null" >
        authority = #{authority,jdbcType=VARCHAR},
      </if>
      <if test="authorityId != null" >
        authority_ID = #{authorityId,jdbcType=INTEGER},
      </if>
      <if test="passportNo != null" >
        passport_No = #{passportNo,jdbcType=CHAR},
      </if>
      <if test="nationality != null" >
        nationality = #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="nationId != null" >
        nation_ID = #{nationId,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="issueDate != null" >
        issue_Date = #{issueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="effecDuration != null" >
        "effec_ Duration" = #{effecDuration,jdbcType=TIMESTAMP},
      </if>
      <if test="signature != null" >
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=INTEGER},
      </if>
      <if test="photoPath != null" >
        photo_Path = #{photoPath,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=INTEGER},
      </if>
      <if test="registerIp != null" >
        register_IP = #{registerIp,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null" >
        register_Time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        last_Login_IP = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        last_Login_Time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        is_Deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.yuanmomo.searchrescue.web.bean.PassportInfo" >
    update passportinfo
    set userInfo_ID = #{userinfoId,jdbcType=BIGINT},
      authority = #{authority,jdbcType=VARCHAR},
      authority_ID = #{authorityId,jdbcType=INTEGER},
      passport_No = #{passportNo,jdbcType=CHAR},
      nationality = #{nationality,jdbcType=VARCHAR},
      nation_ID = #{nationId,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      sex = #{sex,jdbcType=TINYINT},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      issue_Date = #{issueDate,jdbcType=TIMESTAMP},
      "effec_ Duration" = #{effecDuration,jdbcType=TIMESTAMP},
      signature = #{signature,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=INTEGER},
      photo_Path = #{photoPath,jdbcType=INTEGER},
      remark = #{remark,jdbcType=INTEGER},
      register_IP = #{registerIp,jdbcType=VARCHAR},
      register_Time = #{registerTime,jdbcType=TIMESTAMP},
      last_Login_IP = #{lastLoginIp,jdbcType=VARCHAR},
      last_Login_Time = #{lastLoginTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      is_Deleted = #{isDeleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>